<!-- ======= About Section ======= -->
<section id="about" class="about section-bg" style="padding-top: 120px; background-color: white !important;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3 style="padding-bottom: 0px">Find Out More <span>About Us</span></h3>
      <p style="text-align: center; padding-bottom: 20px">Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <%= image_tag 'aboutus.jpg', class: 'img-fluid', alt: 'features image'%>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100" style="background-color: white !important;">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
        <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <ul>
          <li>
            <i class="fa fa-star" aria-hidden="true" style="font-size: 14px; color: #6f42c1"></i>
            <div>
              <h5>Ullamco laboris nisi ut aliquip consequat</h5>
              <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
            </div>
          </li>
          <li>
            <i class="fa fa-star" aria-hidden="true" style="font-size: 14px; color: #6f42c1"></i>
            <div>
              <h5>Magnam soluta odio exercitationem reprehenderi</h5>
              <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
            </div>
          </li>
        </ul>
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

<footer  class="footer">
  <div class="container" >
    <div class="copyright">
      &copy; Copyright <strong><span>Equirole</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="https://fiverr.com/umarch4">UMARCH4</a>
    </div>
  </div>
</footer>