<!-- ======= About Section ======= -->
<section id="about" class="about section-bg" style="padding-top: 120px; background-color: white !important;padding-bottom: 130px !important;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3 style="padding-bottom: 70px; padding-top: 30px">Who We Are</h3>
<!--      <p style="text-align: center; padding-bottom: 20px">Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>-->
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <%= image_tag 'diversity_about.jpg', class: 'img-fluid', alt: 'features image'%>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100" style="background-color: white !important;">
        <p class="about_p">
          <bold>Diversity, Equity & Inclusion</bold> became <bold>THE</bold> topic of discussion in the news, executive board
          rooms, and employee training sessions.
        </p>
        <p class="about_p">
          Companies are now realizing the value of a diverse workspace and are promising change. But
          how will these lofty goals be achieved? How are the promises made being implemented in your
          company’s day to day activities?
        </p>
        <p class="about_p">
          That’s where Equirole can help. Equirole’s <bold>B</bold>linded <bold>R</bold>esume <bold>P</bold>ortal (BRP) offers the opportunity
          to hire the right way, to hire and interview without bias, to hire the best person for the job without
          taking their race, gender, or personal background into consideration.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

<footer  class="footer">
  <div class="container" >
    <div class="copyright">
      &copy; Copyright <strong><span>Equirole</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="https://fiverr.com/umarch4">UMARCH4</a>
    </div>
  </div>
</footer>