<!-- ======= Contact Section ======= -->
<section id="contact" class="contact" style="background-color: white; padding-top: 110px">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3 style="padding-bottom: 0px !important;"><span>Contact Us</span></h3>
      <p style="text-align: center">Please contact us for any query or to request a demo.</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-6 col-md-6">
        <div class="info-box  mb-4">
          <i class="fa fa-envelope"></i>
          <h3 style="padding-bottom: 0px !important;">Email Us</h3>
          <p>contact@example.com</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="info-box  mb-4">
          <i class="fa fa-phone"></i>
          <h3 style="padding-bottom: 0px !important;">Call Us</h3>
          <p>+1 5589 55488 55</p>
        </div>
      </div>

    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-12">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button class="send_message">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

<footer  class="footer">
  <div class="container" >
    <div class="copyright">
      &copy; Copyright <strong><span>Equirole</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="https://fiverr.com/umarch4">UMARCH4</a>
    </div>
  </div>
</footer>