body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f7f7 !important;
}

.login_container, .box_container{
  margin-top: 150px !important;
}

.img_icons{
  height: 130px;
}

.mockup{
  width: 112%;
}

.card {
  margin-bottom: 20px;
  border: none
}

.nav-link{
  padding-right: 0.5rem !important;
  padding-left: 1.5rem !important;
}

.box {
  width: 700px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition: 0.25s;
  margin: 0 auto;

  #formFile{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }
}
.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: #f1f1f1;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #b2b2b2;
  padding: 10px 10px;
  width: 400px;
  outline: none;
  color: #474747;
  border-radius: 24px;
  transition: 0.25s
}

.upload_box h2{
  color: #7D60F5;
}

.box h1 {
  color: #7D60F5;
  //text-transform: uppercase;
  font-weight: 500
}
.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
  width: 500px;
  border-color: #7D60F5
}

.box input[type="submit"] {
  border: 0;
  background: none;
  font-weight: 500;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #7D60F5;
  padding: 12px 40px;
  outline: none;
  color: #7D60F5;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #7D60F5;
  color: white;
}

.forgot {
  text-decoration: underline
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0
}

ul.social-network li {
  display: inline;
  margin: 0 5px
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
  color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s
}

.social-circle i {
  color: #fff;
  transition: all 0.8s;
  transition: all 0.8s
}

.box_container{
  margin-top: 45px;
}

.login_container{
  margin-top: 70px;
}

.devise_links{
  color: #6e6e6e;
  text-decoration: none;
}

h3{
  color: white;
}

#resume_table, #approve_resume_table, #users_table{
  th, td{
    padding: 1rem 1rem !important;
    text-align: center;
  }
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: #cdcdcd !important;
}

.header_no_bor{
  border-bottom: 1px solid #cdcdcd !important;
}

#resume_table_filter, #approve_resume_table_filter, #users_table_filter{
  padding-bottom: 15px;
  color: #4c4c4c;
  font-weight: bold;
  input{
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    color: #4c4c4c;
    margin-left: 10px;
  }
}

#resume_table_filter input:focus-visible, #approve_resume_table_filter input:focus-visible, #users_table_filter:focus-visible{
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#resume_table_length, #approve_resume_table_length, #users_table_length{
  color: #4c4c4c;
  select{
    border: 1px solid #7D5FF5;
    background-color: #7D5FF5;
    color: white;
  }
}

#resume_table_length select:focus-visible, #approve_resume_table_length select:focus-visible, #users_table_length select:focus-visible{
  outline: none;
}

#resume_table_info, #approve_resume_table_info, #users_table_info{
  color: #4c4c4c;
}

#resume_table_paginate, #approve_resume_table_paginate, #users_table_paginate{
  padding-top: 12px;
  a {
    color: #474747 !important;
  }
  .current{
    color: white !important;
    border: 1px solid #7D5FF5;
    background: #7D5FF5;
  }
}

.pdf_btn{
  background: #17C5AC !important;
  border-color: #17C5AC !important;
}

.pdf_btn:hover{
  background-color: #0ce3c6 !important;
}

.del_btn, .copy_btn{
  padding: 0.25rem 1rem !important;
}

#error_explanation{
  color:#e77f83;
}

.pad-r5{
  padding-right: 15px;
}

nav{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background: white !important;
}

.nav-link{
  font-weight: 500;
  color: #4c4c4c !important;
}

.nav-link:hover{
  color: #7D5FF5 !important;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: url(hero-banner.jpg) top center no-repeat;
  background-size: cover;
}
.hero h1 {
  margin: 0;
  font-size: 65px;
  font-weight: 700;
  color: #8a03ce;
}
.hero .hero-img {
  text-align: right;
}
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}


#about, #features, #pricing{
  padding-top: 50px;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
bold{
  color: #8a03ce;
  font-weight: bold;
}
.about_p{
  line-height: 30px !important;
  font-size: 19px;
}
.about .content {
  background-color: #f6f9ff;
  padding: 20px;
}
.about h3 {
  font-size: 32px;
  font-weight: 700;
  color: #8a03ce;
  text-transform: uppercase;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #7D5FF5;
}
.about p {
  margin: 15px 0 30px 0;
  line-height: 27px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.about .btn-read-more:hover i {
  transform: translateX(5px);
}



/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}
.section-header h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #8a03ce;
  text-transform: uppercase;
}
.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #8a03ce;
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}
.features .feature-box h3 {
  font-size: 18px;
  color: #515154;
  font-weight: 500;
  margin: 0;
}
.features .feature-box i {
  //line-height: 0;
  //padding: 4px;
  margin-right: 15px;
  //font-size: 24px;
  //border-radius: 3px;
  //transition: 0.3s;
}
//.features .feature-box:hover i {
//  background: #4154f1;
//  color: #fff;
//}
.features .feture-tabs {
  margin-top: 120px;
}
.features .feture-tabs h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}

.fa-check{
  color: #7d5ff5;
  background-color: #e7e9f1;
  padding: 11px 11px;
  font-size: 20px;
}

.fa-check:hover{
  color: #8a03ce;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing h2{
  font-size: 34px;
}
.pricing p{
  color: #474747;
  font-size: 22px;
}
.pricing .price_box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.pricing .price_box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.pricing h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.pricing .price {
  font-size: 36px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.pricing .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing .price span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing img {
  padding: 30px 40px;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}
.pricing ul li {
  padding-bottom: 10px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  text-decoration: none;
  color: #8a03ce;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #8a03ce;
}
.pricing .btn-buy:hover {
  background: #8a03ce;
  color: #fff;
}
.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #8a03ce;
  color: #fff;
}

.footer {
  background: #F6F9FE;
  padding: 0 0 30px 0;
  font-size: 14px;
}
.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}
.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}
.about .content ul li:first-child {
  margin-top: 35px;
}
.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}
.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}
.about .content ul p {
  font-size: 15px;
}
.about .content p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact .section-title h3{
    color: #8a03ce;
}
  .contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    padding: 20px 0 30px 0;
  }

  .contact .info-box i {
    font-size: 20px;
    color: #8a03ce;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #e0a9ff;
  }

  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }

  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
  }

  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }

  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }

  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }

  .contact .php-email-form .form-group {
    margin-bottom: 20px;
  }

  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }

  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #106eea;
  }

  .contact .php-email-form input {
    padding: 10px 15px;
  }

  .contact .php-email-form textarea {
    padding: 12px 15px;
  }

  .contact .php-email-form button[type=submit] {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }

  .contact .php-email-form button[type=submit]:hover {
    background: #3b8af2;
  }

  .send_message {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    color: #8a03ce;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #8a03ce;
  }

  .send_message:hover {
    background: #8a03ce;
    color: #fff;
  }

  .admin_resume_div, .admin_users_div{
    padding: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: #f1f1f1;
  }