<div class="container" style="margin-top: 130px">
  <% if current_user.admin? %>
    <%= render partial: "admin_resumes", locals: {pending_resumes: @pending_resumes, approved_resumes: @approved_resumes} %>
  <% else %>
    <%= render partial: "user_resumes", locals: { resumes: @resumes }%>
  <% end %>


  <!-- Modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Delete Resume</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure, you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-med" data-bs-dismiss="modal">Cancel</button>
          <%= link_to 'Delete', '/resumes/1', method: "delete", class: 'btn btn-danger btn-med', id:'del_btn' %>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="approveModalLabel">Approve Resume</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure, you want to approve?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-med" data-bs-dismiss="modal">Cancel</button>
          <%= link_to 'Approve', '/resumes/1', class: 'btn btn-success btn-med', id:'approve_btn' %>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
    $(document).ready( function () {
        $('#resume_table, #approve_resume_table').DataTable({
            "order": [[ 1, "desc" ]]
        });
    } );

    function copyEmail(email){
        navigator.clipboard.writeText(email);
    }

    function DelResume(id){
        $('#del_btn').attr("href", "/resumes/"+id)
    }

    function ApproveResume(id){
        $('#approve_btn').attr("href", "/resumes/approve/"+id)
    }
</script>